<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Add a cat!</title>
</head>

<body>
	<div  id="name_form">
			<form action="/cats/new" method="post">
				<div class="form_fields">
					<label for="name">Name:</label>
						<input type="text" name="name">
				</div>
				<div class="form_fields">
					<label for="age">Age:</label>
						<input type="text" name="age">
				</div>
				<div class="form_fields">
					<label for="age">Color:</label>
						<input type="text" name="color">
				</div>
				<div class="form_fields">
					<label for="age">Personality:</label>
						<input type="text" name="personality">
				</div>
				<input id="button" type="submit" value="Submit">
				</div>
			</form>
		</div>
</body>
</html>